.hover-fill:hover {
    fill: #5e31f9;
}
.text-hover{
    color: grey;
}

.text-hover:hover {
    color: #5e31f9;
    
}

/* ---------------footer-----------------*/

.text-hover-footer li {
    position: relative; /* pozycjonowanie znacznika */
}

.text-hover-footer a {
    color: grey; /* kolor tekstu linku w liście */
}

.text-hover-footer li:hover a {
    color: #5e31f9; /* zmiana koloru tekstu  */
}


.text-hover-footer li::before {
    content: ''; /* brak znacznika default */
    position: absolute;
    left: -1em; /* dystans od tekstu */
    color: transparent; /* dodadtkowe zabespieczenie aby nie było widać znacznika */
}

.text-hover-footer li:hover::before {
    content: '•'; /* mamy rodzaj znacznika */
    color: #5e31f9; /* jego kolor */
    font-size: 1.3em; /* rozmiar */ 
    line-height: 1; /* pozycjonowanie znacznika */
}

.dropdown-item:hover  {
    color: white; /* Text color */
    background-color: #7b6dfa; /* Example background color on hover */
}

.dropdown {
    /* position: relative;  Set the parent element to relative positioning */
  }

  #dropdownMenuButtonKomputer:hover {
    background-color: white !important;
    border-bottom: none !important;
}

  #dropdownMenuButtonAkcesoria:hover {
    background-color: white !important;
    border-bottom: none !important;
  }

  #dropdownMenuButtonWyprzedaz:hover {
    background-color: white !important;
  }

  #dropdownMenuButtonPromocje:hover {
    background-color: white !important;
    border-bottom: none !important;
  }


  .dropdown-menu {
    display: none; /* Hide the dropdown menu by default */
    opacity: 0; /* Make it invisible */
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.2s;
  }

.dropdown:hover>.dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s 0s;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  ul.dropdown-menu li button {
    border: none; /* Remove border */
    background: none; /* Optional: removes background if necessary */
  }
  
  /* Remove border from the <a> inside button */
  ul.dropdown-menu li button a.dropdown-item {
    border: none; /* Remove border from the <a> element */

  }
  
.custom-btn {
  background-color: #7b6dfa;
  color: #fff;
}

.custom-btn:hover {
  background-color: #5d51c8;
  color: #fff;
}

.form-check-input:checked {
  background-color: #7b6dfa; /* Change the color when checked */
}

.product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-container img {
  max-width: 100%;
  height: auto;
}

.container-xl{
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1%;
}