.test{
    background-color: red;
}
.hover-fill:hover {
    fill: #5e31f9;
}
.text-hover{
    color: grey;
}

.text-hover:hover {
    color: #5e31f9;
    
}

/* ---------------footer-----------------*/

.text-hover-footer li {
    position: relative; /* pozycjonowanie znacznika */
}

.text-hover-footer a {
    color: grey; /* kolor tekstu linku w liście */
}

.text-hover-footer li:hover a {
    color: #5e31f9; /* zmiana koloru tekstu  */
}


.text-hover-footer li::before {
    content: ''; /* brak znacznika default */
    position: absolute;
    left: -1em; /* dystans od tekstu */
    color: transparent; /* dodadtkowe zabespieczenie aby nie było widać znacznika */
}

.text-hover-footer li:hover::before {
    content: '•'; /* mamy rodzaj znacznika */
    color: #5e31f9; /* jego kolor */
    font-size: 1.3em; /* rozmiar */ 
    line-height: 1; /* pozycjonowanie znacznika */
}

.dropdown-item:hover  {
    color: #f0f0f0 ; /* Text color */
    background-color: #7b6dfa; /* Example background color on hover */
}

.dropdown {
    position: relative; /* Set the parent element to relative positioning */
  }

  .dropdown-menu {
    position: absolute;
    left: 50%; /* Move the dropdown menu to the center horizontally */
    transform: translateX(-50%); /* Adjust the dropdown so it's truly centered */
    display: none; /* Hide the dropdown menu by default */
    opacity: 0; /* Make it invisible */
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.2s;
  }

.dropdown:hover>.dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s 0s;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  ul.dropdown-menu li button {
    border: none; /* Remove border */
    background: none; /* Optional: removes background if necessary */
  }
  
  /* Remove border from the <a> inside button */
  ul.dropdown-menu li button a.dropdown-item {
    border: none; /* Remove border from the <a> element */

  }
  